<div class="card">
    <div class="card-header">
        <h3>Register</h3>
    </div>
    <div class="card-body">

        <form method="post" action="Register">
            <label>Username</label>
            <input type="text" name="Username" class="form-control" />

            <label>Password</label>
            <input type="password" name="Password" class="form-control" />

            <label>Nama</label>
            <input type="text" name="Name" class="form-control" />

            <label>Alamat</label>
            <input type="text" name="Alamat" class="form-control" />

            <label>Email</label>
            <input type="text" name="Email" class="form-control" />

            <label>Telepon</label>
            <input type="text" name="Telepon" class="form-control" />

            <label>Tanggal Lahir</label>
            <input type="date" name="TanggalLahir" class="form-control" />

            <label>Role</label>
            <input type="text" name="Role" class="form-control" />

            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </form>
    </div>
</div>